<div class="container mt-5">
  <div class="row">
    <div class="col-12">
      <h1>400 Bad Request</h1>
      <hr>
    </div>
  </div>
  <div class="col-6">
    <div class="container">
      <h5>{{this.errorMessage}}</h5>
      <img src="./assets/200w.gif" alt="">
    </div>
  </div>
</div>