{{! 
      vista de todos los productos sin websocket
 }}
<div class="container-fluid bg-dark text-light" style="min-height: 95vh;">
  <div class="row">
    <div class="col-6 d-flex">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Product</th>
            <th scope="col">quantity</th>
            <th scope="col">price</th>
            <th scope="col">actions</th>
          </tr>
        </thead>
        <tbody>
          {{#each products}}
            <th scope="row">{{@index}}</th>
              <td>{{this.product.title}}</td>
              <td>{{this.quantity}}</td>
              <td>{{this.product.price}}</td>
              <td> 
                <div class="container d-flex justify-content-around">
                  <a href="#" class="link-secondary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover future_action" ><i class="bi bi-pencil-square"></i></a> 
                  <a href="#" class="link-secondary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover future_action"><i class="bi bi-trash"></i></a> </td>
                </div> 
              </td>
            </tr> 
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
</div>

{{!-- <script src="/assets/bootstrap-5.3.1-dist/js/bootstrap.bundle.min.js"></script> --}}
<script src="/assets/script/products.js"></script>