<div class="container">
  <div class="row">
    <div class="col-sm-12 col-xs-12 col-lg-6 text-emphasis-dark border rounded">
      <div class="container p-1 m-3">
        <p class="text-secondary fw-bold" id="title">USER</p>
        <div id="user" class="animate__animated m-2">
          {{!-- <input type="email" name="email" id="user_email" /> --}}
          <button class="btn btn-primary" id="user_email_btn">login</button>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-1" id="chat_container" hidden>
    <div class="col-lg-10 col-sm-12 col-md-12 rounded">
      <div class="m-lg-5 m-md-2 m-sm-1">
        <p class="text-secondary fw-bold">CHAT</p>
        <div id="messages" class="container collapse1">
          <table class="table table-dark table-striped table-borderless">
            <tbody id="box_messages_chat">
            </tbody>
          </table>
        </div>
        <div class="animate__animated  container d-flex mt-3 mb-5 visually-hidden" id="message_box">
          <input type="text" id="text_msg" class="ps-2" placeholder="message..." />
          <button class="btn btn-primary ps-2 ms-5" id="send_msg">Enviar</button>
        </div>
      </div>
    </div>
    {{!-- <div class="col-2">
     
    </div> --}}
  </div>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/assets/script/chat.js"></script>
<script src="./assets/bootstrap-5.3.1-dist/js/bootstrap.bundle.min.js"></script>
