<section class="h-100 h-custom" {{! style="background-color: #8fc4b7;" }}>
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-lg-8 col-xl-6">
        <div class="card rounded-3">
          <img
            src="https://fontmeme.com/permalink/230906/e8e360fa37f9df98df8bade5ceb566ac.png"
            style="border-top-left-radius: .3rem; border-top-right-radius: .3rem;"
            alt="logo notflix"
            border="0"
            class="w-25 mx-auto d-block mt-5"
          />
          <div class="card-body p-4 p-md-5">
            <h3 class="mb-4 pb-2 pb-md-0 mb-md-5 px-md-2">Login</h3>
            <form class="px-md-2" id="form_login">
              <div class="form-outline mb-4">
                <input
                  type="email"
                  class="form-control"
                  placeholder="Email"
                  name="user_email"
                  aria-label="user_email"
                  required
                />
              </div>
              <div class="form-outline mb-4">
                <input
                  type="password"
                  class="form-control"
                  placeholder="password"
                  name="password"
                  aria-label="password"
                  required
                />
              </div>
              <button type="submit" class="btn btn-success btn-lg mb-1">
                Login
              </button>
            </form>
            <div class="card-footer w-100 mt-4">
              <button class="btn btn-dark d-flex w-100 justify-content-center align-items-center mt-4" onclick="location.href='/api/users/github'"><i class="bi bi-github p-2 m-2 fs-1"></i>Use Github</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<script src="/assets/script/login.js"></script>