{{!-- 
      vista de todos los productos con websocket
      implementa un parcial
 --}}
<h1>productos en realtime</h1>
{{> create_product}}
<div id="realtime_list_products">

</div>
<script src="/socket.io/socket.io.js"></script>
<script src="./assets/script/script.js"></script>
<script src="./assets/bootstrap-5.3.1-dist/js/bootstrap.bundle.min.js"></script>
