{{!-- 
      genero un codigo parcial para ser implementado en la vista
      y no tener que repetir el header en todas las vistas
 --}}
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./assets/bootstrap-5.3.1-dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="./assets/icons/bootstrap-icons-1.10.5/font/bootstrap-icons.css">
  <link rel="icon" type="image/x-icon" href="./assets/nficon2016.ico">
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
  />
  <link href="https://cdn.jsdelivr.net/npm/@sweetalert2/theme-wordpress-admin@4/wordpress-admin.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

  <style>
    .collapse1{
      overflow-y:scroll;
      min-height:400px;
      max-height: 20vh;
    }
  </style>
  <title>Notflix</title>
</head>