{{!-- 
      genero un codigo parcial para ser implementado en la vista
      y no tener que repetir el header en todas las vistas
 --}}
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./assets/bootstrap-5.3.1-dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="./assets/icons/bootstrap-icons-1.10.5/font/bootstrap-icons.css">
  <link rel="icon" type="image/x-icon" href="./assets/nficon2016.ico">
  <title>Notflix</title>
</head>