<!DOCTYPE html>
<html lang="en">
{{> head }}
<body class="bg-dark text-light animate__animated">
  {{> nav }}
  
  {{{body}}}
  <script src="/assets/bootstrap-5.3.1-dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>