<!DOCTYPE html>
<html lang="en">
{{> head }}
<body class="bg-dark text-light">
  {{> nav }}
  {{{body}}}
  <div class="container m-5">
    <div class="row">
      <div class="col-12">
        <div id="anim">
          <h6>redireccionando...</h6>
        </div>
      </div>
    </div>
  </div>
  <script src="./assets/script/redirect.js"></script>
</body>
</html>